body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cart {
    width: 60%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-header,
.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-header h2,
.cart-footer h3 {
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.cart-item-details {
    flex: 2;
    margin-left: 20px;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 16px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.discount-code {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.discount-code input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.discount-code button {
    background: #FF7F50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn {
    background: #FF7F50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.summary {
    width: 35%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.summary label {
    display: block;
    margin: 10px 0 5px;
}

.summary input,
.summary select,
.summary textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.summary .btn-buy {
    background: #FF7F50;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.summary .btn-buy:hover {
    background: #d96b47;
}